* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --nav-links-primary-color: #448aff;
    --nav-links-hover-color: #2979ff;
    --primary-text-color:white;
    --primary-desc-color: #c0c0c0;
    --secondary-bg-color: #1c1e22;
    --social-bg-color: rgba(10, 10, 10, 0.7);
    --logo-color:linear-gradient(90deg, #00f260, #0575e6);
    --skills-background-color:rgb(31,31,32);
    --skills-title-color: linear-gradient(90deg, hsla(94, 100%, 70%, 1) 0%, hsla(0, 100%, 77%, 1) 100%);;
    --secondary-linear-gradient-color: linear-gradient(90deg, hsla(183, 62%, 45%, 1) 0%, hsla(41, 96%, 58%, 1) 100%);
}


html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 10rem;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav a{
    text-decoration: none;
    margin: 0 1rem;
}
nav ul a {
    font-size: 1.2rem;
    color:var(--nav-links-primary-color);
}

.logo {
    position: absolute;
    left: 4rem;
    font-size: 2.5rem;
}

.logo a{
    color:var(--logo-color);
}

.logo h4{
    background: var(--logo-color);
    color: transparent;
    background-clip: text;
}

nav li a:hover {
    color:var(--nav-links-hover-color);
}

nav ul {
    display: flex;
    list-style: none;
}

.nav-links {
    background-color: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(15px); 
    border: 1px solid rgba(255, 255, 255, 0.3); 
    padding: 15px; 
    border-radius: 12px; 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
}

.social-icons .fab{
    font-size: 1.5rem;
    color: white;
}



.container{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -5.5rem;
}


.primary-info-container{
    width: 100%;
    height: auto;
    background: url("../images/bg.jpg") no-repeat center center / cover;
}

.primary-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    color: var(--primary-text-color);
    padding-left: 5rem;
}

.primary-text-name{
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.primary-text-desc{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: var(--primary-desc-color);
}

.buttons{
    display: flex;
    gap: 1rem;
}

.btn{
    padding: 10px 20px;
    background-color: var(--nav-links-primary-color);
    color: white;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.25rem;
}

.btn:hover{
    background-color: var(--nav-links-hover-color);
}

.social-icons{
    display: flex;
    justify-content: center;
    gap:1rem;
    margin-left: 1rem;
    align-items: center;
    margin-top: 1rem;
}

.social-icon{
    background-color: var(--social-bg-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(15px);
    width: 40px;
    height: 40px;
}

.social-icon a{
    padding: 0.5rem;
}

.secondary-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: var(--secondary-bg-color);
    color: var(--primary-text-color);
    padding: 2rem; 
    gap:4rem;
}

.about-title {
    padding-top: 5rem;
    font-size: 3rem;
    font-weight: 700;
    text-align: center; 
    letter-spacing: 2px; 
    background:var(--secondary-linear-gradient-color);
    background-clip: text;
    color: transparent;
}

.about-text {
    color: #a9a9a9; 
    font-size: 1.4rem; 
    text-align: center;
    line-height: 1.8; 
    margin-top: 2rem;
}

.edu-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    padding: 2rem;
    padding-left:2rem;
}


.timeline {
    position: relative;
    width: auto;
    max-width: 250px;
    text-align: center;
    margin: 2rem 1rem;
    z-index: 2;
}

.timeline.up{
    transform: translateY(-70px);
}

.timeline.down{
    transform: translateY(70px);

}

.institute {
    font-weight: bold;
    font-size: 1.2rem;
    max-height: 2.4em; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.about-grade, .score {
    font-size: 1rem;
    color: gray;
}

.skills-container{
    display: flex;
    min-height: 50vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem;
    height: auto;
    background-color: var(--skills-background-color);
}

.skills-title{
    margin-top:2rem;
    font-size: 4rem;
    background: var(--skills-title-color);
    color: transparent;
    background-clip: text;
}

.skills{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-column-gap: 6px;
    grid-row-gap:6px;
    width: 90%;
    padding: 2rem;
    gap: 2rem;
}


.skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.skill p{
    font-size: 1.5rem;
    font-weight: 500;
    color: whitesmoke;
}

.skills .fab{
    font-size: 2rem;
    color: white;
}

.project-container{
    height: auto;
    background-color: var(--secondary-bg-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    width: 100%;
}

.projects-title{
    margin-top: 3rem;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    background: var(--secondary-linear-gradient-color);
    background-clip: text;
    color: transparent;
}

.project img{
    width: calc(100%-2rem);
    height: auto;
}

.projects{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,500px, 1fr));
    grid-column-gap: 6px;
    grid-row-gap:6px;
    gap: 2rem;
    width: 95%;
}

.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    margin: auto;
    margin-top: 2rem;
    overflow: hidden;
    border:2px solid white;
    border-radius: 10px;
    position: relative;
    background-color: var(--secondary-bg-color);
    min-width: 300px;
    max-width: 500px;
    height: 450px;
}

.project h3{
    font-size: 2rem;
    font-weight: 700;
    background: var(--skills-title-color);
    background-clip: text;
    color: transparent;
}

.project img{
    width: 100%;
    height: 300px !important;

}

.project a{
    text-decoration: none;
}

.project p{
    font-size: 1.2rem;
    font-weight: 500;
    color: #a9a9a9;
    width: 100%;
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.to-repo-icon .fab{
    font-size: 2rem;
    color: white;
}

.links{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    z-index: 100;
    background-color: var(--secondary-bg-color);
    padding: 2rem; 
}

label{
    position: absolute;
    left:-9999px;
}

.contact-title{
    padding-top: 5rem;
    font-size: 3rem;
    font-weight: 700;
    text-align: center; 
    letter-spacing: 2px; 
    background:var(--secondary-linear-gradient-color);
    background-clip: text;
    color: transparent;
}

.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    align-items: center;
    height: auto;
    margin-top: 2rem;
}

input,textarea{
    width: 30vw;
    padding: 0.5rem;
    margin-top: 2rem;
    font-size: 1.2rem;
    border: 1px solid #a9a9a9;
    border-radius: 5px;
    resize: none;
}

.form-btn{
    display: grid;
    place-content: center;
    margin-top: 2rem;
}

.form-btn .btn{
    width: 150px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: var(--secondary-bg-color);
    color: var(--primary-text-color);
}

.typing {
    font-family: monospace;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
    width: 19ch; 
    animation: typing 5s steps(19) infinite forwards, blink 0.5s step-end infinite alternate;
  }

.edu-section::before {
    content: '';
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    width: 47vw;
    height: 2px;
    background-color: gray;
    z-index: 1;
}

.timeline::before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--nav-links-primary-color);
}

.timeline.up::before {
    top: 135%; 
}

.timeline.down::before {
    top: -35%; 
}


/* ANIMATIONS */
@keyframes typing {
    0%{
        width: 0;
    }
    50%{
        width: 19ch;
    }
    65%{
        width: 19ch;
    }
    100%{
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/* RESPONSIVE */
@media screen and (max-width: 1080px){
    .logo{
        display: none;
    }
    nav{
        padding: 1rem 2rem;
    }
    .nav-links li{
        margin: 0.5rem 0;
    }
    .nav-links{
        flex-wrap: wrap;
        justify-content: center;
    }

    .primary-info{
        padding-left: 30px;
    }

    .container{
        margin-top: -7rem;
    }

    .edu-section::before{
        width: 58vw;
    }

    .projects-title{
        font-size: 2.5rem;
    }

    .institute{
        font-size: 1.2rem;
    }

    .secondary-info-container{
        padding-bottom: 5rem;
    }
    .edu-section::before{
        margin-top: 3rem;
        width:2px;
        height:20vh;
    }

    .skills-title{
        margin-top: 5rem;
    }
    
    .timeline.first{
        transform: translate(-150px, -35px);
    }
    .timeline.first::before{
        top:10%;
        left:-3%;
    }

    .timeline.second{
        transform: translate(-150px, 40px);
    }

    .timeline.second::before{
        top:50%;
        left:110%;
    }

    .timeline.third{
        transform: translate(430px, 120px);
    }

    .timeline.third::before{
        top:80%;
        left:-9%;
    }
}