* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --nav-links-primary-color: #448aff;
    --nav-links-hover-color: #2979ff;
    --primary-text-color:white;
    --primary-desc-color: #c0c0c0;
}

body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    height: 90vh;
    background: url("../images/bg.jpg") no-repeat center center / cover;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 10rem;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav a{
    text-decoration: none;
    margin: 0 1rem;
}
nav ul a {
    font-size: 1.2rem;
    color:var(--nav-links-primary-color);
}

.logo {
    position: absolute;
    left: 2rem;
    font-size: 2.5rem;
}

.logo a{
    color:white;
}

nav li a:hover {
    color:var(--nav-links-hover-color);
}

nav ul {
    display: flex;
    list-style: none;
}

.nav-links {
    background-color: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(15px); 
    border: 1px solid rgba(255, 255, 255, 0.3); 
    padding: 15px; 
    border-radius: 12px; 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
}

.fab{
    font-size: 1.5rem;
    color: white;
}

.container {
    display: flex;               
    flex-direction: column;      
    align-items: center;
}

.primary-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 15rem;
    margin-top: -3rem;
    width: 100%;
    height: 100vh;
    color: var(--primary-text-color);
    padding-left: 2rem;
}

.primary-text-name{
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.primary-text-desc{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: var(--primary-desc-color);
}

.buttons{
    display: flex;
    gap: 1rem;
}

.btn{
    padding: 10px 20px;
    background-color: var(--nav-links-primary-color);
    color: white;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.btn:hover{
    background-color: var(--nav-links-hover-color);
}

.social-icons{
    display: flex;
    justify-content: center;
    gap:1rem;
    margin-left: 1rem;
    align-items: center;
    margin-top: 1rem;
}

.social-icon{
    background-color: rgba(10, 10, 10, 0.7);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(15px);
    width: 40px;
    height: 40px;
}

.social-icon a{
    color: white;
    
    padding: 0.5rem;

}


.typing {
    font-family: monospace;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
    width: 19ch; 
    animation: typing 5s steps(20) infinite forwards, blink 0.5s step-end infinite alternate;
  }





/* ANIMATIONS */
@keyframes typing {
    0%{
        width: 0;
    }
    50%{
        width: 19ch;
    }
    65%{
        width: 19ch;
    }
    100%{
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}